## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 750].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_one = classification_counts.loc[classification_counts > 1]
classification_counts_greater_than_one.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_cat_conversion = pd.get_dummies(application_df)
application_cat_conversion.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_cat_conversion.drop(['IS_SUCCESSFUL'], axis=1)
y = application_cat_conversion['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_node_layer1 = 10
hidden_node_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_node_layer1, input_dim = number_input_features,
                                   activation = "relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_node_layer2, activation = "relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                410

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 471
Trainable params: 471
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.7516 - accuracy: 0.6723
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5984 - accuracy: 0.7145
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5839 - accuracy: 0.7201
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5886 - accuracy: 0.7082
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5757 - accuracy: 0.7185
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5721 - accuracy: 0.7247
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5692 - accuracy: 0.7265
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5663 - accuracy: 0.7276
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5655 - accuracy: 0.7276
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7276
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7282
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7266
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7287
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7284
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7296
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5580 - accuracy: 0.7304
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5609 - accuracy: 0.7298
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7287
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7292
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7301
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7298
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7301
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7302
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7304
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7299
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5575 - accuracy: 0.7302
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7306
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7303
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7299
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7303
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7315
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5597 - accuracy: 0.7297
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5599 - accuracy: 0.7313
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7308
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7309
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7316
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7319
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7299
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7310
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7307
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5585 - accuracy: 0.7300
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5583 - accuracy: 0.7300
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7316
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7303
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7308
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7305
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7314
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7313
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5578 - accuracy: 0.7309
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7308
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7315
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7309
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7306
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7311
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7316
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7319
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7315
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7304
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7319
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7322
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7328
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7320
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7313
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7311
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7324
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7326
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7318
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7320
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7319
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7314
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7317
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7324
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7329
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7311
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7328
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7304
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7322
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7318
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7327
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7326
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7317
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7320
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7318
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7332
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7326
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7329
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7324
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7333
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7329
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7325
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7326
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7329
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7320
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7322
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7332
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7340
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7341

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5557 - accuracy: 0.7280 - 475ms/epoch - 2ms/step
Loss: 0.555718719959259, Accuracy: 0.7280466556549072

In [27]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')